[2018-01-09 11:06] sjcallender opened #1 "Track error when logged out"
Upon trying to add an item to the cart, I get this error message: "You must identify a user by email or ID."

screenshot: https://ssdd.d.pr/Q3gHpF

[2018-01-09 11:12] johnnynotsolucky commented on #1
@sjcallender Are you a guest user when this happens?

[2018-01-09 11:22] sjcallender commented on #1
@johnnynotsolucky Yes, but it happens when I'm logged in too.

[2018-01-09 11:30] johnnynotsolucky commented on #1
Cool. It's probably because `onSaveOrder` assumes the email field is already set:

[code]

This wouldn't be the case for a new cart.

When I tested it I think I had a cart which had already been created and the `email` field was populated from a previous checkout which I didn't complete.

[2018-01-09 21:22] #1 closed

[2018-04-23 04:37] sjcallender opened #2 "Product catalog feeds"
Create feed URL for Klaviyo to use to populate product catalog in Klaviyo

[2018-04-23 04:39] sjcallender opened #3 "Send Commerce coupon codes to Klaviyo"
Create coupon in Craft that can be dynamically added to Klaviyo for insertion into auto-generated email.

[2018-04-29 19:31] johnnynotsolucky commented on #2
@sjcallender I think the plugin used to manage products would be best to generate a product feed. Have a look at this example of a blog feed from Craft: https://docs.craftcms.com/v2/templating/rss-feed.html

We can add a template which generates a feed of all products for us in Craft without worrying about updating the plugin.

It would also be difficult to figure out how to generate the feed from

[2018-04-29 19:40] johnnynotsolucky commented on #3
@sjcallender I think the same applies as with #2; Commerce lets you define a bunch of coupons and expiry etc, we just need to write a plugin to export them.

We could add a hook to KlaviyoConnect for user-defined coupon exporting so we're not tying into a specific plugin like Commerce?

[2018-04-29 19:41] johnnynotsolucky commented on #3
Having a look at this post: https://www.klaviyo.com/blog/feature-spotlight-generating-unique-one-time-coupon-codes-for-shopify-plus

It would be cool to build an integration with Klaviyo, I'd think it would be a Craft Commerce integration though, depending on what the requirements are.

[2018-09-18 23:44] RitterKnightCreative opened #4 "Unknown Property on Save User"
Upon saving or creating a new user, getting an error:

``Getting unknown property: craft\events\ModelEvent::params``

Stack Trace:
[code]

[2018-09-19 15:33] #4 closed

[2018-09-19 15:37] sjcallender commented on #4
Fixed in version 2.0.1

[2018-09-19 17:18] pseudoclass opened #6 "Field labels"
The field labels in the configuration page for the last three items are all the same (Cart URL) :
![screen shot 2018-09-19 at 19 15 57](https://user-images.githubusercontent.com/1387821/45769706-b414f000-bc40-11e8-9147-d94b58099b0b.png)

[2018-09-20 05:59] #6 closed

[2018-10-14 21:39] RitterKnightCreative commented on #2
Have you guys found the json format used for catalog feeds? Found the web feeds in their docs but the product feeds says to contact support.

[2018-10-15 08:13] johnnynotsolucky commented on #2
@RitterKnightCreative there's some useful info here if you haven't seen it already: https://help.klaviyo.com/hc/en-us/articles/115005258768-Add-a-Custom-Web-Feed-to-a-Campaign#adding-a-custom-web-feed1

They also have an example feed in JSON format: https://klaviyo.zendesk.com/api/v2/help_center/en-us/articles.json

[2018-10-29 21:49] RitterKnightCreative opened #7 "Klaviyo Events"
Suggest changing the ``Completed Order`` event to the more standard ``Placed Order`` and follow their JSON.

For example, in the default flow library, Klaviyo is expecting the ``Placed Order`` event:

![screen shot 2018-10-29 at 4 44 43 pm](https://user-images.githubusercontent.com/3707869/47682321-06c7bd00-db9a-11e8-9878-a749da56e2b1.png)

Also, Klaviyo [suggests sending the Order Items](https://

[2018-10-29 21:54] RitterKnightCreative commented on #2
Got a chance to connect with Klaviyo support on this.

There's a few things on their end that need to get setup but the feed itself is pretty straightforward to implement. There's a hidden page or two that's not usually accessed for a custom store... Shopify and BigCommerce expose the page through their API apparently but support needs to get it setup before custom integrations use it. Fun.

They

[2018-10-30 03:32] sjcallender commented on #2
@RitterKnightCreative Are you able to access [https://www.klaviyo.com/catalog/sources](https://www.klaviyo.com/catalog/sources)?

[2018-10-30 19:59] RitterKnightCreative commented on #2
@sjcallender yes.

[2018-11-01 09:18] johnnynotsolucky commented on #7
Awesome @RitterKnightCreative! Thanks for finding these docs. I'll update the events to use these new naming conventions instead.

[2019-01-09 05:15] engram-design commented on #7
+1 for this, particularly the new naming conventions. We're just working on this with a client migrating from Magento, and are looking to have these sort of events hooked up.

For instance, the "Updated Cart" content is getting into Klaviyo, but its not formatted in a few user-friendly way like the Magento plugin does. I'm not sure if this is just because Magento is a bit special as officially sup

[2019-01-09 09:10] johnnynotsolucky commented on #7
@engram-design PRs are always welcome 🙂

WRT to the naming conventions, this is long overdue. I'll get on those as soon as I get a chance.

[2019-01-10 16:16] RitterKnightCreative commented on #7
@engram-design I pinged Klaviyo awhile back on this and apparently the dashboard formatting is a known issue when using the custom API.

It definitely feels like if you're not using Shopify, Woo, Magento or BigCommerce, you're going against the grain. Maybe if enough of us complain, they'll get the UI sorted.

You might be onto something with data formatting. We're sending the [Started Checkout](h

[2019-01-10 21:41] engram-design commented on #7
@RitterKnightCreative More than happy to throw you the Magento plugin for reverse-engineering (what I'm doing), and I believe they use both JS and PHP methods, as the docs themselves recommend. Feel free to ping me on the Craft Slack (crawf)

Also got in touch with Klaviyo, and they said the nice UI in metrics is only for officially supported connectors, like Magento, so that's just how it has to

[2019-01-11 13:36] sjcallender commented on #7
@RitterKnightCreative I'll do that.

[2019-01-14 16:00] sjcallender commented on #7
I've resumed my conversation with Klaviyo about an official integration. I'll keep you all updated on how that goes.

[2019-03-27 15:31] andrewcgregory opened #9 "Add to list and events not linking"
Having an issue when trying to add a user to a Klaviyo List as well as tracking Events.

The website flow is that the visitor goes to the cart and then goes to a sign-in/register page. On the register form they enter their email address and then submit the form (this is the form that we are trying to use with Klaviyo Connect). The visitor is then sent to a shipping/billing information page.

I tri

[2019-03-27 16:56] johnnynotsolucky commented on #9
@andrewcgregory The templates section hasn't been updated yet since the last batch of updates I've made 🙂

The new user in Profiles and the Updated Cart are triggered automatically when the cart is updated. I think the form you're submitting can be updated:

[code]

Should be

[code]

`forward` tells the plugin to forward requests onto the next controller: https://klaviyoconnect.fostercommerce.com

[2019-03-27 18:14] andrewcgregory commented on #9
@johnnynotsolucky I tried updating the line as you mentioned, so I have:
[code]
Looks like this throws a 404 error and no longer follows the redirect? Also, nothing updated to Klaviyo. Here's the error:

[code]

It also shows:
[code]
This path does not match our website, any ideas on where this would be coming from?

[2019-03-27 20:37] keyurshah commented on #7
Hi @sjcallender ! any update on an official integration? Thanks!

[2019-03-27 20:42] sjcallender commented on #7
@keyurshah We're in communication, but nothing official has been agreed or acted upon. We're scheduling a product review for more of their team members.

[2019-03-28 08:36] johnnynotsolucky commented on #7
@RitterKnightCreative I've released v3.0.0. I've updated the data that is sent to Klaviyo to align with how they're expecting it. There's also a number of other changes to clean up the plugin API, checkout the docs here: https://klaviyoconnect.fostercommerce.com/ 🙂

[2019-03-28 08:42] johnnynotsolucky commented on #9
@andrewcgregory It occurred to me that you're probably using v2.0.6 while the documentation was for 3.0.0 which had not yet been released. That is probably why you're getting the not found error.

I've published v3.0.0 just now and updated the template documentation too.

One thing I missed in my earlier comment was that the action addresses should be absolute, so your code would be something like

[2019-03-28 13:05] andrewcgregory commented on #9
@johnnynotsolucky That's working better. I did a fresh install to v3.0.0 and used your recommended changes. The user is now added to the list and events are passed as they should be.

One new item that I came across is when accessing **Settings > Plugins > Klaviyo Connect** it is now giving an error and no **Default Profile Mapping** options show up.

[code]

**Screenshot:**
![Screen Shot 2019-03-

[2019-03-29 17:43] IndigoViking opened #10 "Installing without Commerce"
Installed plugin via store and it failed with:
`Class 'craft\commerce\elements\Order' not found`
It kept the plugin on the website but if installed the plugin page shows the same message and it fails to install.

[2019-03-29 20:10] IndigoViking opened #11 "Fresh Install profileMappings error"
Fresh install of Craft 3 and Klaviyo Connect. When trying to visit the settings page for this plugin I get this error.

`Neither the property "profileMappings" nor one of the methods "profileMappings()", "getprofileMappings()"/"isprofileMappings()"/"hasprofileMappings()" or "__call()" exist and have public access in class "fostercommerce\klaviyoconnect\variables\Variable".`

[2019-04-01 07:33] #9 closed

[2019-04-01 07:33] #11 closed

[2019-04-01 08:52] #10 closed

[2019-04-01 08:54] johnnynotsolucky commented on #11
Thank you @IndigoViking, this is resolved in v3.0.1

[2019-04-01 08:54] johnnynotsolucky commented on #10
@IndigoViking this is resolved in v3.0.1

[2019-04-01 08:58] johnnynotsolucky commented on #9
@andrewcgregory this is resolved in v3.0.1

[2019-04-01 18:22] sjcallender commented on #2
We are not implementing a more advanced feature. Documentation on how to add a product feed has been added here: https://klaviyoconnect.fostercommerce.com/feed.html

[2019-04-01 18:22] #2 closed

[2019-04-05 15:58] sjcallender commented on #7
Regarding an official integration with Klavyio, Klaviyo's dev team is going to create a Craft Commerce service in their API that we'll be able to use to add a Craft logo to identify Events. They're also going to give us some new docs to review for some new features about to be released. Not sure of the ETA.

[2019-04-08 14:35] davecosec opened #12 "event and $event and special properties"
is there a built in method to send $event_id instead of event_id and $value instead of value when it comes to sending data to Klaviyo ?

These are special properties in Klaviyo

[2019-04-08 14:51] johnnynotsolucky commented on #12
Hi @davecosec, those properties are mapped to the format expected by Klaviyo: https://github.com/FosterCommerce/klaviyoconnect/blob/master/src/models/Base.php#L47. They're just passed in sans the $.

[2019-04-08 14:51] #12 closed

[2019-04-09 09:10] davecosec commented on #12
ah, I've updated to 3.0.6 thanks!

[2019-05-14 06:30] engram-design commented on #7
@johnnynotsolucky Just wanted to follow this up with 3.0 - did you implement the following events?

- Placed Order
- Ordered Product
- Fulfilled Order

It seems like `Placed Order` is still named `Placed Order`, and the other two are missing. Would you be open to a PR that renames this event, but also implements the other two?

I note there's a `Updated Cart` which I won't be using (we're doing a

[2019-05-15 05:58] johnnynotsolucky commented on #7
@engram-design no I didn't. I think we can use this: https://docs.craftcms.com/commerce/v2/events.html#order-related-events

Will probably need a new config item in the settings model to select which status marks an order as fulfilled. I don't think every Commerce install has the same set of order statuses.

[2019-05-15 06:00] engram-design commented on #7
After posting this, I did wonder if its more project-specific and tied to whether or not there's a fulfilled order status, but a config settings makes perfect sense, and is simple to implement. Just need to check whether there is a value on this setting to send the event or not!

I would suggest the `orderStatusChange` event.

Thanks!

[2019-05-15 06:04] johnnynotsolucky commented on #7
Yeah agreed. Alternatively you could implement it in a site module with something like

[code]

[2019-05-15 06:04] engram-design commented on #7
Yep, that's what I'm currently doing, just pitching it whether or not to include it natively!

[2019-07-29 11:24] mcjackson18 opened #15 "Settings Page Error"
Version: 3.1.0

The plugin settings page (/admin/settings/plugins/klaviyoconnect) gives an `Undefined property: stdClass::$status` error. The error is in /vendor/fostercommerce/klaviyoconnect/src/variables/Variable.php at line 22.

This is a fresh install and the first time the settings page has been accessed.

[2019-07-29 18:42] johnnynotsolucky commented on #15
Thank you @mcjackson18. This is resolved in 3.1.1.

[2019-07-29 18:42] #15 closed

[2019-08-15 23:56] RitterKnightCreative commented on #7
@sjcallender @engram-design how are you guys setting up new accounts with Klaviyo?

Just created a new account today and all the default flows are now only available with the official integrations.

Tried to work around this by changing the trigger using an official one and switching back. but it looks like the flow is not changeable anymore...

[2019-08-15 23:57] RitterKnightCreative commented on #7
I think an officiall supported integration couldn't come soon enough on this...

[2019-09-29 03:22] engram-design opened #17 "Support `time` property for tracking"
As per https://help.klaviyo.com/hc/en-us/articles/115000751052-Klaviyo-API-Reference-Guide#tracking-events--server-side-8 you can use a field named "time" with the time formatted as Unix timestamp. This is particularly useful for importing historical data, where you'd want to set the time a particular event took place, rather than the default "right now".

We'd need to be able to alter: https://gi

[2019-12-04 13:44] johnnynotsolucky commented on #17
@engram-design I've updated the plugin to allow passing through the timestamp property for events:

[code]

[2019-12-04 13:44] #17 closed

[2020-05-19 22:25] RitterKnightCreative commented on #7
@sjcallender Not sure if you've heard any movement on an official integration?

[2020-06-18 09:11] williamhibberd opened #25 "Syncing Historical Data"
Is there a way to [Syncing Historical Data](https://help.klaviyo.com/hc/en-us/articles/115005082927-Integrate-a-Standard-Ecommerce-Platform#syncing-historical-data11) with Klaviyo through this plugin? It would be great to be able to send all placed orders to the Klaviyo prior to installing the plugin.

Thanks for the great work

[2020-06-23 19:01] michaelramuta opened #26 "Klaviyo Events not tracking properly"
I'm having a few issues with events:
- When adding items to cart, the Updated Cart event will set value, price, and qty to 0 and items will be empty
- Ordered Product and Placed Order events often are not firing at all

[2020-09-29 15:49] sjcallender commented on #26
@michaelramuta - Hopefully the new version ([4.0.0](https://github.com/FosterCommerce/klaviyoconnect/releases/tag/4.0.0)) will resolve those issues for you.

[2020-09-29 15:49] #26 closed

[2020-09-29 15:53] sjcallender commented on #7
Hey everyone. A long-overdue update has been published. https://github.com/FosterCommerce/klaviyoconnect/releases/tag/4.0.0

@RitterKnightCreative - Unfortunately, the conversion about the official integration stalled. I've tried to revive it but have heard crickets.

We're seeing the same thing and helping clients copy those defaults if they need them. Kind of sucks.

[2020-09-29 15:53] #7 closed

[2020-09-29 15:54] sjcallender commented on #25
This is now a part of the plugin as of version 4.0. You'll find it at Utilities > Klaviyo Connect.

[2020-09-29 15:54] #25 closed

[2020-11-22 08:52] PepeKey opened #39 "Shipping/Billing Address for Klaviyo Profile"
I have a issue with the syncing of customers.
If no user account is created at checkout process, the profile fields First & Last Name at Klaviyo are empty.
Is it possible to use the FirstName and LastName from the shipping address?

[2020-11-23 21:18] clowerweb commented on #39
https://github.com/FosterCommerce/klaviyoconnect/pull/40

[2020-11-23 21:27] sjcallender commented on #39
@PepeKey - We're not comfortable using the Shipping Address's first and last name, since that can often be different than the customer's name associated with the order's email address. However, we should have been using the Billing first and last name for guest customers all along. That's been fixed in [4.0.3](https://github.com/FosterCommerce/klaviyoconnect/releases/tag/4.0.3).

[2020-11-23 21:27] #39 closed

[2020-11-24 13:00] pepsDev opened #42 "Ability to use the subscribe endpoint when adding users to a Klaviyo list via twig"
If users are added to a list via a Twig template, they currently skip the klaviyo double opt-in process.
Would it be possible to specify in the template whether the member endpoint or [subscription endpoint](https://www.klaviyo.com/docs/api/v2/lists#post-subscribe) is used?

See [Klaviyo API Docs](https://www.klaviyo.com/docs/api/v2/lists#post-subscribe):

[2020-11-30 21:35] simeon-smith opened #43 "Not checking for billing address before grabbing the firstName and lastName."
When you are tracking an order you are not checking if the billing address exists before accessing the firstName and lastName which causes it to fail and to fail any attempted craft action on the cart.

[2021-01-11 03:12] deviarte commented on #43
Yeah, this breaks cart updates pretty much right on install.

Trying to get property 'firstName' of non-object

https://github.com/FosterCommerce/klaviyoconnect/blob/master/src/services/Track.php#L135

[2021-01-25 09:45] williamhibberd commented on #43
This is also a breaking update on a couple of sites I have klaviyoconnect installed on. We have rolled back to 4.0.2 for the mean time. Will @sjelfull's commit be merged in 4.0.3?

[2021-01-25 09:55] #43 closed

[2021-01-25 09:58] johnnynotsolucky commented on #43
@sjelfull's patch has been published in 4.0.4

[2021-04-20 09:37] williamhibberd opened #50 "Product Feed - Invalid format"
I have been following your steps here: https://klaviyoconnect.fostercommerce.com/Feed.html to create a product catalogue with Craft's Element API plugin.

My data looks like:

[code]

I am getting the error `Invalid format. The JSON feed must be a list of dictionaries.` when adding it to Klaviyo.
Digging a bit deeper it looks like data is too deep, and I need to remove the "data" node as it's push

[2021-04-20 20:06] sjcallender commented on #50
Hey @williamhibberd,
We've run into this and have just built our own endpoints instead of fight the Element API output. Here's one we wrote with Twig. Hope it helps. I'll update the docs.
[code]

[2021-04-20 20:06] #50 closed

[2021-04-21 11:31] williamhibberd commented on #50
Thanks @sjcallender I've used this method on another site.
Just thought I would give the Element API plugin a whirl as per the docs, but will revert back Twig.

[2021-04-27 10:15] pepsDev opened #51 "Support for Guzzle 7"
I'm using Klaviyoconnect with the Commerce [Mollie Plugin](https://github.com/craftcms/commerce-mollie).
The Mollie-Plugin now requires Guzzle 7. When I want to update the plugin Mollie Plugin to 3.0 klavioconnect is locked to an lower guzzle version.

    - fostercommerce/klaviyoconnect is locked to version 4.0.4 and an update of this package was not requested.
    - Conclusion: don't install guz

[2021-07-16 17:22] #42 closed

[2021-07-16 17:26] benface commented on #42
Added in [v4.0.5](https://github.com/FosterCommerce/klaviyoconnect/releases/tag/4.0.5). Thank you for requesting this!

[2021-07-20 21:10] smockensturm opened #63 "Perfect for recovering abandoned carts..."
How? How can I do this with this plugin?

What does this mean: _"Before you can use this flow, you must start syncing **Started Checkout** events whenever a shopper begins the checkout process."_

https://help.klaviyo.com/hc/en-us/articles/115005082927-Integrate-a-Custom-Ecommerce-Cart-or-Platform#started-checkout5

![preview-lightbox-image](https://user-images.githubusercontent.com/6586518/126395

[2021-07-21 20:04] sjcallender commented on #63
Hi @smockensturm,
You'll want to add custom event to your templates. If you're using Twig, then our documentation shows how to do that here. https://klaviyoconnect.fostercommerce.com/Templating.html#track-event

[code]

Here's another example for a live site we maintain.
[code]

Give it a whirl.

p.s. - If you're looking for help within the Klaviyo interface, we're happy to offer consultation, but

[2021-07-21 23:13] smockensturm commented on #63
hello @sjcallender  oh man just what i needed. of course. great work, thank you for the response.

[2021-07-22 08:57] jripmeester commented on #51
Running into the same problem on a new project. Hope the Guzzle version can be bumped.

[2021-07-22 17:55] #63 closed

[2021-07-22 17:56] sjcallender commented on #63
Happy to help!

[2021-07-23 19:02] sjcallender commented on #51
Okay. Thanks for reporting. We'll take a look next week.

[2021-08-23 12:14] #51 closed

[2021-08-23 12:28] johnnynotsolucky commented on #51
@pepsDev @jripmeester this is resolved in v4.0.6.

[2022-04-28 12:09] TomDeSmet opened #75 "Add productId in Ordered Product event"
When an Ordered Product event is sent, all line items inside that order are sent to Klaviyo with their properties. Those line items are actual Craft Commerce variants. However, we have only our default variants in our Klaviyo catalogue as we have tons of variants per product. But that means that it's not possible to create a link between the Ordered Product event and our catalogue as the SKU's sen

[2022-06-10 08:26] steve-holland opened #82 "Klaviyo API Changes - June 2022"
I'm sure you folks are already aware of these changes, but I just wanted to check anyway. Will the announced changes to the Identify API have any impact on the plugin at all?

[Klaviyo June 2022 API Update FAQ](https://cdn.allbound.com/klaviyo-ab/2022/05/19160505/June-2022-API-Update-FAQ-1.pdf)

[2022-06-10 12:53] fantasticmachine commented on #82
Hey @steve-holland  :)

I'm working on this plugin now (it'll be fine, don't worry) and have been doing updates to get it Craft 4 compatible. I've only just started so not super familiar with the Identify api yet

I'll take a look at those changes and see if it's going to impact anything. Thanks for drawing it to our attention.

[2022-06-10 13:22] steve-holland commented on #82
Hey @fantasticmachine, how's it going.

Now that I know the top people are working on it, consider myself reassured. Cheers for looking into it 👍🏻

[2022-06-10 13:36] fantasticmachine commented on #82
Haha!

I've done a quick test and I don't believe that the plugin actually offers the option to update an email address (or any other param) via the Identify API.

It is, however, possible to update profile information including the email via the Track API. But that first requires the user to be identified.

My test was basic. I first created a list signup form which signed me up to a list and ser

[2022-06-10 13:48] fantasticmachine commented on #82
So... @steve-holland

It looks like it is *currently* possible to update the name and phone number via the plugin's Identify controller and this will no longer work from the 13th June. It has never been possible to update the user's email using this controller.

However, it should still be possible to update email, name, phone number and any other data points using the Track controller.

Is there

[2022-06-10 13:58] steve-holland commented on #82
@fantasticmachine Thanks for looking. No particular use case, it was more of a general heads up really. We got an email warning us of the changes, so we just didn't want the plugin blowing up on us on the 13th :)

[2022-06-10 16:05] steve-holland commented on #82
@fantasticmachine We aren't calling into the controllers directly or anything, we're just using it as standard by listening for the standard events. So I guess it's down to if the plugin's normal operation will be impacted. It may well not.

[2022-06-13 11:07] fantasticmachine commented on #82
@steve-holland I've done some work on this and have created some services for updating the identifiers in question. I'm just reviewing the security implications of providing a controller within the plugin or intercepting attempts to update them via the Identify controller.

[2022-06-14 16:14] fantasticmachine commented on #82
@steve-holland I have just released v4.0.10 which adds a couple of services and a new controller action for updating Klaviyo profiles.

Note: this is still only compatible with Craft 3. I'm working on testing the Craft 4 version at the moment. These changes will be included in that release when it happens.

[2022-06-14 17:30] #82 closed

[2022-06-29 12:50] widewebpro opened #87 "Error after update to 4.0.10"
I am getting an error when using the plugin:

**Return value of fostercommerce\klaviyoconnect\services\Base::getSetting() must be an instance of fostercommerce\klaviyoconnect\services\mixed, string returned**

[2022-06-29 13:28] fantasticmachine commented on #87
Hi @widewebpro
We will look into this asap. I think it should be a very simple fix. Apologies for the inconvenience.

[2022-06-29 13:30] widewebpro commented on #87
@fantasticmachine All ok. Thanks!

[2022-06-29 13:45] fantasticmachine commented on #87
@widewebpro They didn't disable the Identify API but only removed a "feature" of it where you could update the email, telephone or ID using the Identify API.

Release 4.1.0 added some features to the plugin which would allow you to update the email or telephone number via a new controller should you wish to.

[2022-06-29 13:48] fantasticmachine commented on #87
@widewebpro can you tell me how/where you encountered this error message? I'm not able to reproduce it.
If there was a stack trace, could you post it here please?

[2022-06-29 14:29] fantasticmachine commented on #87
@widewebpro I'm unable to reproduce this issue.

Can you tell me which version of Craft you are using and the exact circumstances where you encountered the error?

[2022-06-29 14:35] fantasticmachine commented on #75
Hi @TomDeSmet
Firstly, apologies for the long time it took to reply to this issue.
I'll add this as a feature request and look into it asap.

[2022-06-29 14:43] steve-holland commented on #87
Hey @fantasticmachine I'm also having the same issue. I think it might be because you've used 'mixed' as the return type which is for PHP8 and above. I'm only on 7.4 at the minute.

[2022-06-29 14:48] widewebpro commented on #87
@fantasticmachine

PHP version | 7.4.28
-- | --
Linux 5.11.0-1022-aws
MySQL 8.0.23
Imagick 3.6.0 (ImageMagick 6.9.10-23)
Craft Pro 3.7.24
2.0.45
v2.14.13
7.4.5

[2022-06-29 14:52] fantasticmachine commented on #87
Ah, thanks @steve-holland

@widewebpro I'll get that updated shortly

[2022-06-29 15:12] fantasticmachine commented on #87
@widewebpro @steve-holland
Have just published a release for 4.0.11 which should fix this issue. This release is on the develop-craft3 branch.

Going forward, the Craft 3 version will be on this branch, with the Craft 4 (and future versions) being on Master.
It's getting a little difficult to manage changes across the 2 versions from the same repo so do let me know if there is an issue installing.

[2022-06-29 15:48] widewebpro commented on #87
@fantasticmachine I updated but I get a different error, when entering the settings page:

**Return value of fostercommerce\klaviyoconnect\services\Base::getSetting() must be an instance of fostercommerce\klaviyoconnect\services\mixed, string returned**

[2022-06-29 15:51] steve-holland commented on #87
@fantasticmachine I think you're going to have to add some versions to the composer file, to mark the Craft 4 version to specifically require PHP 8 and Craft 4. At the minute, Craft is showing all the versions on the upgrade page, so upgrading will give us PHP 7.4 folks the same issues. See here:

https://craftcms.com/docs/4.x/extend/updating-plugins.html#plugin-store-considerations

[2022-06-29 15:54] fantasticmachine commented on #87
@widewebpro @steve-holland
Apologies once again.
The plugin store should be showing 4.0.x for Craft 3 and 5.0.x for Craft 4. Regardless, I'll get a test environment set up locally with 7.4 to check over this again.

[2022-06-29 16:30] steve-holland commented on #87
@fantasticmachine It's still showing 4.0.11, 5.0.0 & 5.0.1 for me I'm afraid.

PHP - 7.4.21
OS - Darwin 21.5.0
MySQL - 5.7.34
Craft Pro - 3.7.46

[2022-06-29 22:26] fantasticmachine commented on #87
@steve-holland are you saying it's installing 5.0.x on Craft 3? It shouldn't do that as there is a version constraint for Craft.

Can you try requiring the specific version (4.0.11) ?

[2022-06-30 06:33] widewebpro commented on #87
@fantasticmachine

I get error, when entering the settings page:

**Return value of fostercommerce\klaviyoconnect\services\Base::getSetting() must be an instance of fostercommerce\klaviyoconnect\services\mixed, string returned**

I think the problem is mixed type. It is available with PHP 8. And for Craft CMS 3.7, PHP 7.4 is used. If I manually change the type of the returned value to a string in

[2022-06-30 07:59] sajjanstha commented on #87
@fantasticmachine I am on Craft 3 and it's still showing 5.0.1 available when I run
`php craft update`

[2022-06-30 08:10] steve-holland commented on #87
@fantasticmachine I think there must be some step missing. I would expect if I was on Craft 3 with PHP 7, that the only update I would see is to v4.0.11. Currently I'm shown all 3 updates, two of which will definitely break.

<img width="488" alt="Screenshot 2022-06-30 at 09 06 15" src="https://user-images.githubusercontent.com/374926/176626484-5a566a3b-7889-4857-9a21-e13d342b8838.png">

<img widt

[2022-06-30 08:16] steve-holland commented on #87
Actually @fantasticmachine are you sure you've put the php and craft constraints in the two v5 releases? Only if I'm looking in the right place, I can only see them in the v4.0.11, not 5.0.0 or 5.0.1. Maybe that's it?

[2022-06-30 08:54] fantasticmachine commented on #87
I'll take another look at this today. Something, somewhere has got messed up.
You should only see 4.0.11 for Craft 3 and 5.0.1 for Craft 4

[2022-06-30 11:44] fantasticmachine commented on #87
I'm having trouble resolving this issue right now.
If you're on Craft 3 then you can get the correct version by changing your composer requirement to

`"fostercommerce/klaviyoconnect": "dev-develop-craft3"`

[2022-06-30 12:14] steve-holland commented on #87
@fantasticmachine Good news, I can now only see 4.0.11 release in the control panel updates and via the command line. 👍🏻

[2022-06-30 12:17] fantasticmachine commented on #87
🎉

[2022-06-30 15:48] fantasticmachine commented on #87
@widewebpro @sajjanstha Can you let me know if this is now working OK for you?

[2022-07-01 07:01] widewebpro commented on #87
@fantasticmachine Hey. It looks like the problems with the `mixed` type that I encountered are resolved in the `develop-craft3` branch, can you update version 4.0.11 with these bugs fixed or will you support it for PHP 8?

[2022-07-01 07:50] fantasticmachine commented on #87
@widewebpro That's good to know. The real issue is that the tags/releases were messed up. Would you mind trying to install from the main branch again and confirm which version it tries to install?

[2022-07-01 08:11] widewebpro commented on #87
@fantasticmachine If I installed via plugin store, I get "5.0.1" version with PHP 7.4 in config.

[2022-07-03 12:54] iamkeir opened #88 ""This update requires PHP ^7.2, but your environment is currently running PHP 8.0.8""
We are being prompted to run an update but receiving "This update requires PHP ^7.2, but your environment is currently running PHP 8.0.8". This is curious as the previous version of the app has been running on v8 - so I'm guessing there is a misguided gremlin in the system :D

Great plugin, btw - thanks!

[2022-07-04 05:58] sajjanstha opened #89 "Error after update to 4.0.11"
After I ran update for the plugin from 4.0.4 to 4.0.11, it throws error as shown below :
[code]
When I check the phperrors.log file, I see these errors:
[code]

[2022-07-04 06:00] sajjanstha commented on #87
@fantasticmachine It now shows 4.0.11 available for craft 3 but I am facing some problem while trying to update. I have create a new issue [here](https://github.com/FosterCommerce/klaviyoconnect/issues/89)

[2022-07-04 06:33] fantasticmachine commented on #89
Hi @sajjanstha
I've just released 4.0.12 which fixes this. Again, apologies for the issues here. I think it's now stable once again.
Pete

[2022-07-04 06:34] #89 closed

[2022-07-04 06:36] fantasticmachine commented on #88
Hi @iamkeir Yeah we had a few issues last week regarding getting both a Craft 3 and a Craft 4 version available simultaneously.

I think I know what's up here. Can you confirm, as I suspect, that you are running Craft 3 on PHP 8?

[2022-07-04 10:46] iamkeir commented on #88
@fantasticmachine thanks for fast reply! Yes, we're Craft 3 on PHP 8, specifically:
PHP 8.0.8
Craft Pro 3.7.46
Klaviyo Connect 4.0.10

And I've got two updates listed for Klaviyo Connect, 4.0.11 and 4.0.12.

I've tried your suggestion which seems to have done the trick for now. Do we need to be mindful of new versions using this method?

[2022-07-04 11:28] fantasticmachine commented on #88
@iamkeir I had a minute before I needed to dash out, so I have published a release for 4.0.13. You can now change your composer file requirement back to "^4.0" and it should be fine.

[2022-07-04 11:28] #88 closed

[2022-07-04 11:51] iamkeir commented on #88
@fantasticmachine YOU DE BEST! Thank you for sorting so quickly.

[2022-07-04 14:36] steve-holland commented on #87
Hi @widewebpro I'm not actually a maintainer of this plugin, just a user like you. So I'm afraid you'll have to wait for a response from @fantasticmachine. I've not actually had a chance to try the update yet myself after the version issues.

[2022-07-05 04:41] sajjanstha opened #90 "Error after update to 4.0.13"
I get the following error when I go to the plugin settings page(/admin/settings/plugins/klaviyoconnect)

`Call to undefined method craft\helpers\App::parseEnv()`

It happens in both 4.0.12 and 4.0.13.

[2022-07-05 04:42] sajjanstha commented on #89
Hi @fantasticmachine, new update fixed this issue but I am facing new issue as mentioned [here](https://github.com/FosterCommerce/klaviyoconnect/issues/90)

[2022-07-05 04:43] sajjanstha commented on #87
@widewebpro I am facing the same issue and I have created a new issue [here](https://github.com/FosterCommerce/klaviyoconnect/issues/90)

[2022-07-05 06:54] widewebpro commented on #87
@steve-holland oh, sorry

[2022-07-05 11:01] fantasticmachine commented on #90
OK. We could roll back to use the Craft::parseEnv() helper but that's then going to show deprecations for anyone on 3.7.29+

You might want to go back to 4.0.8 of the plugin for now.

For the record the only real functional difference is that I added some extra controllers and services to allow setting of the user's email address and phone number. This was in response to an API change by Klaviyo.

[2022-07-06 06:13] sajjanstha commented on #90
Actually we are trying to update the plugin in response to the API change by Klaviyo. It was addressed in 4.0.10 release so we need at least update it to 4.0.10.
It looks like we need to update the craft version first before updating this plugin.

[2022-07-07 12:55] SandraSundqvist opened #91 "Add the "time"-property to sync of old orders"
Hi,

When syncing old orders to Klaviyo all the "Placed order"- events/metrics (that are sent then) are registered in Klaviyo on the day of the sync, instead of on the date the orders were made.

Because of that, the data under the analytics section in Klaviyo looks a bit funky, and it's hard to do anything useful with the "Placed order"-metrics, as they are registered on the wrong date. Wouldn't

[2022-07-08 11:07] fantasticmachine commented on #91
Thanks @SandraSundqvist
We'll schedule in some time to look into this.

[2022-07-13 12:10] widewebpro commented on #90
@fantasticmachine For which version of Craft 3.X, have bugs been fixed in this plugin?

[2022-07-15 09:14] fantasticmachine commented on #90
@widewebpro If you are on a version of Craft earlier than 3.7.29 then you will need to use 4.0.8 of the KlaviyoConnect plugin.
There isn't really much we can do about that since if we revert the change then the plugin will not work in versions of Craft from 3.7.29 up.

To clarify, the changes made to the plugin for version 4.10 were to provide *additional* methods to the plugin just in case someon

[2022-07-19 11:13] fantasticmachine commented on #90
@sajjanstha @widewebpro
I've just added a branch which uses the latest version for Craft 3 but also uses `Craft::parseEnv()`. This should mean you can use it on versions of craft earlier than 3.7.29

You can use this version by editing your composer.json file to install from `fix/use-craft-parsenv-for-craft-pre-3-7-29`

Please note that it is a temporary measure and we won't be maintaining this br

[2022-07-19 11:13] #90 closed

[2022-07-23 17:57] iamkeir opened #93 "Custom cart/order property"
Hi folks - we have a custom field associated to cart/order in Craft/Commerce that indicates whether it is a one-time or subscription order. How would we send this custom field data with the default order data that Klaviyo Connect sends?

I _**think**_ it would be via the [`AddOrderCustomPropertiesEvent`](https://klaviyoconnect.fostercommerce.com/events.html#addordercustompropertiesevent) event - b

[2022-07-25 10:29] fantasticmachine commented on #93
@iamkeir I believe that Klaviyo is a bit (overly) flexible here. I would need to confirm but I'm pretty sure you can simply add the data to your form and Klaviyo will add it as a custom field. If the field doesn't exist within the Klaviyo profile then it will be created.

[2022-07-25 12:24] iamkeir commented on #93
Thanks for fast reply - I think you are right but this relates to data
being pushed with order order events, so there’s no “form” as such.

On Mon, 25 Jul 2022 at 12:29 Pete Eveleigh ***@***.***> wrote:

--
*iamkeir.com <http://iamkeir.com/> / @iamkeir*

[2022-07-25 13:17] fantasticmachine commented on #93
Right, I see what you mean. Yes I think it would be using the AddOrderCustomPropertiesEvent.
As far as I know, there isn't a means to do it via the plugin UI. It's perhaps something we could look at as a feature enhancement.

[2022-07-25 13:18] iamkeir commented on #93
@fantasticmachine no problemo - we'll use that event for now and keep an eye if this makes the cut as a new feature. Thanks!

[2022-07-31 17:25] iamkeir commented on #93
This worked, thanks!

Two notes for the documentation:
<img width="510" alt="screenshot_379" src="https://user-images.githubusercontent.com/539615/182038148-328c1ac7-8b59-4c95-b1a4-9ac743fdb70e.png">

1. `AddCustomPropertiesEvent` should be `AddOrderCustomPropertiesEvent`
2. Worth mentioning that `$e->properties` contains the order data already so your code example overwrites any built-in properti